{% extends "index.html" %}

{% block main %}
  <form action="{% url 'cryptocurrencies-create' %}" method='POST'>
    {% csrf_token %}
    <a style="margin-bottom: 10px;" class="btn btn-outline-primary float-right" href="/" role="button">Back to cryptos</a>
    <p class="lead">Create a new Cryptocurrency:</p>

    <!-- NAME -->
    <div class="form-group">
      <label for="name"><b>Name *</b></label>
      <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" id="name" name="name">
      {% if errors.name %}
        <p style="color: #dc3545">{{errors.name}}</p>
      {% endif %}
    </div>

    <!-- SLUG -->
    <div class="form-group">
      <label for="slug"><b>Slug *</b></label>
      <input type="text" class="form-control {% if errors.slug %}is-invalid{% endif %}" id="slug" name="slug">
      {% if errors.slug %}
        <p style="color: #dc3545">{{errors.slug}}</p>
      {% endif %}
    </div>

    <!-- SYMBOL -->
    <div class="form-group">
      <label for="symbol"><b>Symbol *</b></label>
      <input type="text" class="form-control {% if errors.symbol %}is-invalid{% endif %}" id="symbol" name="symbol">
      {% if errors.symbol %}
        <p style="color: #dc3545">{{errors.symbol}}</p>
      {% endif %}
    </div>

    <!-- RANK -->
    <div class="form-group">
      <label for="rank"><b>Rank *</b></label>
      <input type="number" class="form-control {% if errors.rank %}is-invalid{% endif %}" id="rank" name="rank">
      {% if errors.rank %}
        <p style="color: #dc3545">{{errors.rank}}</p>
      {% endif %}
    </div>

    <!-- PRICE USD -->
    <div class="form-group">
      <label for="price_usd"><b>Price USD *</b></label>
      <input type="number" class="form-control {% if errors.price_usd %}is-invalid{% endif %}" id="price_usd" name="price_usd" step=".1" value="0.00">
      {% if errors.price_usd %}
        <p style="color: #dc3545">{{errors.price_usd}}</p>
      {% endif %}
    </div>

    <!-- PRICE BTC -->
    <div class="form-group">
      <label for="price_btc"><b>Price BTC *</b></label>
      <input type="number" class="form-control {% if errors.price_btc %}is-invalid{% endif %}" id="price_btc" name="price_btc" step=".1" value="0.0000000">
      {% if errors.price_btc %}
        <p style="color: #dc3545">{{errors.price_btc}}</p>
      {% endif %}
    </div>

    <!-- VOLUME USD 24HS -->
    <div class="form-group">
      <label for="volume_usd_24h"><b>Volume USD 24hs *</b></label>
      <input type="number" class="form-control {% if errors.volume_usd_24h %}is-invalid{% endif %}" id="volume_usd_24h" name="volume_usd_24h" step=".1" value="0.00">
      {% if errors.volume_usd_24h %}
        <p style="color: #dc3545">{{errors.volume_usd_24h}}</p>
      {% endif %}
    </div>

    <!-- MARKET CAP USD -->
    <div class="form-group">
      <label for="market_cap_usd"><b>Market Cap USD *</b></label>
      <input type="number" class="form-control {% if errors.market_cap_usd %}is-invalid{% endif %}" id="market_cap_usd" name="market_cap_usd" step=".1" value="0.00">
      {% if errors.market_cap_usd %}
        <p style="color: #dc3545">{{errors.market_cap_usd}}</p>
      {% endif %}
    </div>

    <!-- AVAILABLE SUPPLY -->
    <div class="form-group">
      <label for="available_supply"><b>Available Supply *</b></label>
      <input type="number" class="form-control {% if errors.available_supply %}is-invalid{% endif %}" id="available_supply" name="available_supply" step=".1" value="0.00">
      {% if errors.available_supply %}
        <p style="color: #dc3545">{{errors.available_supply}}</p>
      {% endif %}
    </div>

    <!-- TOTAL SUPPLY -->
    <div class="form-group">
      <label for="total_supply"><b>Total Supply *</b></label>
      <input type="number" class="form-control {% if errors.total_supply %}is-invalid{% endif %}" id="total_supply" name="total_supply" step=".1" value="0.00">
      {% if errors.total_supply %}
        <p style="color: #dc3545">{{errors.total_supply}}</p>
      {% endif %}
    </div>

    <!-- MAX SUPPLY -->
    <div class="form-group">
      <label for="max_supply"><b>Max Supply</b></label>
      <input type="number" class="form-control {% if errors.max_supply %}is-invalid{% endif %}" id="max_supply" name="max_supply" step=".1" value="0.00">
      {% if errors.max_supply %}
        <p style="color: #dc3545">{{errors.max_supply}}</p>
      {% endif %}
    </div>

    <!-- PERCENT CHANGE 1H -->
    <div class="form-group">
      <label for="percent_change_1h"><b>Percent Change 1hr *</b></label>
      <input type="number" class="form-control {% if errors.percent_change_1h %}is-invalid{% endif %}" id="percent_change_1h" name="percent_change_1h" step=".1" value="0.00">
      {% if errors.percent_change_1h %}
        <p style="color: #dc3545">{{errors.percent_change_1h}}</p>
      {% endif %}
    </div>

    <!-- PERCENT CHANGE 24H -->
    <div class="form-group">
      <label for="percent_change_24h"><b>Percent Change 24hs *</b></label>
      <input type="number" class="form-control {% if errors.percent_change_24h %}is-invalid{% endif %}" id="percent_change_24h" name="percent_change_24h" step=".1" value="0.00">
      {% if errors.percent_change_24h %}
        <p style="color: #dc3545">{{errors.percent_change_24h}}</p>
      {% endif %}
    </div>

    <!-- PERCENT CHANGE 7D -->
    <div class="form-group">
      <label for="percent_change_24h"><b>Percent Change 7 days *</b></label>
      <input type="number" class="form-control {% if errors.percent_change_7d %}is-invalid{% endif %}" id="percent_change_7d" name="percent_change_7d" step=".1" value="0.00">
      {% if errors.percent_change_24h %}
        <p style="color: #dc3545">{{errors.percent_change_24h}}</p>
      {% endif %}
    </div>

    <!-- EXCHANGE -->
    <div class="form-group">
      <label for="exchange"><b>Exchange</b></label>
      <select class="form-control" id="exchange" name="exchange">
        {% for exchange in exchanges %}
          <option>{{exchange.name}}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary float-right">Create</button>
  </form>
{% endblock %}
